.cat1,
.cat2,
.cat3 {
  padding: 10px 30px;
  border-radius: 8px;
  color: #fff;
}

.cat1 {
  background-color: orchid;
}
.cat2 {
  background-color: orange;
}
.cat3 {
  background-color: blue;
}
.catogary img {
  width: 40px;
}
